{% extends 'base.html' %}
{% load static %}
{% block title %}
    <title>商品列表</title>
{% endblock %}

{% block main_body %}
{% include 'header_shop.html' %}

<!--== Start Page Breadcrumb ==-->
<div class="page-breadcrumb-wrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-breadcrumb">
                    <ul class="nav">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="shop.html" class="active">Shop</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--== End Page Breadcrumb ==-->

<!--== Page Content Wrapper Start ==-->
<div id="page-content-wrapper">
    <div class="container">
        <div class="row">
            <!-- Sidebar Area Start -->
            <div class="col-lg-3">
                <div id="sidebar-area-wrap">
                    <!-- Single Sidebar Item Start -->
                    <div class="single-sidebar-wrap">
                        <h2 class="sidebar-title">Shop By</h2>
                        <div class="sidebar-body">
                            <div class="shopping-option d-block d-sm-flex d-lg-block">
                                <div class="shopping-option-item">
                                    <h4>MANUFACTURER</h4>
                                    <ul class="sidebar-list">
                                        <li><a href="#">Dolce <span>(19)</span></a></li>
                                        <li><a href="#">Gabbana <span>(4)</span></a></li>
                                        <li><a href="#">Nike <span>(3)</span></a></li>
                                        <li><a href="#">Nokia <span>(5)</span></a></li>
                                        <li><a href="#">Xiaomi <span>(7)</span></a></li>
                                        <li><a href="#">Other <span>(33)</span></a></li>
                                    </ul>
                                </div>

                                <div class="shopping-option-item">
                                    <h4>Price</h4>
                                    <ul class="sidebar-list">
                                        <li><a href="#">$0.00 - $9.99 <span>(2)</span></a></li>
                                        <li><a href="#">$10.00 - $19.99 <span>(3)</span></a></li>
                                        <li><a href="#">$20.00 - $29.99 <span>(5)</span></a></li>
                                        <li><a href="#">$30.00 - $39.99 <span>(2)</span></a></li>
                                        <li><a href="#">$40.00 - $49.99 <span>(10)</span></a></li>
                                        <li><a href="#">$50.00 - $59.99 <span>(12)</span></a></li>
                                    </ul>
                                </div>

                                <div class="shopping-option-item d-sm-none d-md-block">
                                    <h4>Color</h4>
                                    <ul class="color-option-select d-flex">
                                        <li class="color-item black">
                                            <div class="color-hvr">
                                                <span class="color-fill"></span>
                                                <span class="color-name">Black</span>
                                            </div>
                                        </li>

                                        <li class="color-item green">
                                            <div class="color-hvr">
                                                <span class="color-fill"></span>
                                                <span class="color-name">green</span>
                                            </div>
                                        </li>

                                        <li class="color-item red">
                                            <div class="color-hvr">
                                                <span class="color-fill"></span>
                                                <span class="color-name">red</span>
                                            </div>
                                        </li>

                                        <li class="color-item yellow">
                                            <div class="color-hvr">
                                                <span class="color-fill"></span>
                                                <span class="color-name">yellow</span>
                                            </div>
                                        </li>

                                        <li class="color-item orange">
                                            <div class="color-hvr">
                                                <span class="color-fill"></span>
                                                <span class="color-name">Orange</span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Single Sidebar Item End -->

                    <!-- Single Sidebar Item Start -->
                    <div class="single-sidebar-wrap">
                        <h2 class="sidebar-title">My Wishlist</h2>
                        <div class="sidebar-body">
                            <div class="product-small-list">
                                <!-- Single Product Start -->
                                <div class="single-pro-item d-flex">
                                    <a href="single-product.html" class="product-thumb">
                                        <img src="assets/img/product-3.jpg" alt="Product" />
                                    </a>
                                    <div class="pro-details">
                                        <h2>
                                            <a href="single-product.html">Compete Hoodie</a>
                                        </h2>
                                        <span class="pro-price">$30.33</span>
                                    </div>
                                </div>
                                <!-- Single Product End -->

                                <!-- Single Product Start -->
                                <div class="single-pro-item d-flex">
                                    <a href="single-product.html" class="product-thumb">
                                        <img src="assets/img/product-6.jpg" alt="Product" />
                                    </a>
                                    <div class="pro-details">
                                        <h2>
                                            <a href="single-product.html">MH02-Gray</a>
                                        </h2>
                                        <span class="pro-price">$20.11</span>
                                    </div>
                                </div>
                                <!-- Single Product End -->

                                <!-- Single Product Start -->
                                <div class="single-pro-item d-flex">
                                    <a href="single-product.html" class="product-thumb">
                                        <img src="assets/img/product-5.jpg" alt="Product" />
                                    </a>
                                    <div class="pro-details">
                                        <h2>
                                            <a href="single-product.html">Compete Hoodie</a>
                                        </h2>
                                        <span class="pro-price">$30.33</span>
                                    </div>
                                </div>
                                <!-- Single Product End -->
                            </div>
                        </div>
                    </div>
                    <!-- Single Sidebar Item End -->

                    <!-- Single Sidebar Item Start -->
                    <div class="single-sidebar-wrap">
                        <h2 class="sidebar-title">MostViewed</h2>
                        <div class="sidebar-body">
                            <div class="sidebar-product-carousel owl-carousel">
                                <div class="sidebar-carousel-item">
                                    <div class="product-small-list">
                                        <!-- Single Product Start -->
                                        <div class="single-pro-item d-flex">
                                            <a href="single-product.html" class="product-thumb">
                                                <img src="assets/img/product-1.jpg" alt="Product" />
                                            </a>
                                            <div class="pro-details">
                                                <h2>
                                                    <a href="single-product.html">Compete Hoodie</a>
                                                </h2>
                                                <span class="pro-price">$30.33</span>
                                            </div>
                                        </div>
                                        <!-- Single Product End -->

                                        <!-- Single Product Start -->
                                        <div class="single-pro-item d-flex">
                                            <a href="single-product.html" class="product-thumb">
                                                <img src="assets/img/product-2.jpg" alt="Product" />
                                            </a>
                                            <div class="pro-details">
                                                <h2>
                                                    <a href="single-product.html">MH02-Gray</a>
                                                </h2>
                                                <span class="pro-price">$20.11</span>
                                            </div>
                                        </div>
                                        <!-- Single Product End -->

                                        <!-- Single Product Start -->
                                        <div class="single-pro-item d-flex">
                                            <a href="single-product.html" class="product-thumb">
                                                <img src="assets/img/product-3.jpg" alt="Product" />
                                            </a>
                                            <div class="pro-details">
                                                <h2>
                                                    <a href="single-product.html">Compete Hoodie</a>
                                                </h2>
                                                <span class="pro-price">$30.33</span>
                                            </div>
                                        </div>
                                        <!-- Single Product End -->

                                        <!-- Single Product Start -->
                                        <div class="single-pro-item d-flex">
                                            <a href="single-product.html" class="product-thumb">
                                                <img src="assets/img/product-4.jpg" alt="Product" />
                                            </a>
                                            <div class="pro-details">
                                                <h2>
                                                    <a href="single-product.html">MH02-Gray</a>
                                                </h2>
                                                <span class="pro-price">$20.11</span>
                                            </div>
                                        </div>
                                        <!-- Single Product End -->
                                    </div>
                                </div>

                                <div class="sidebar-carousel-item">
                                    <div class="product-small-list">
                                        <!-- Single Product Start -->
                                        <div class="single-pro-item d-flex">
                                            <a href="single-product.html" class="product-thumb">
                                                <img src="assets/img/product-1.jpg" alt="Product" />
                                            </a>
                                            <div class="pro-details">
                                                <h2>
                                                    <a href="single-product.html">Compete Hoodie</a>
                                                </h2>
                                                <span class="pro-price">$30.33</span>
                                            </div>
                                        </div>
                                        <!-- Single Product End -->

                                        <!-- Single Product Start -->
                                        <div class="single-pro-item d-flex">
                                            <a href="single-product.html" class="product-thumb">
                                                <img src="assets/img/product-2.jpg" alt="Product" />
                                            </a>
                                            <div class="pro-details">
                                                <h2>
                                                    <a href="single-product.html">MH02-Gray</a>
                                                </h2>
                                                <span class="pro-price">$20.11</span>
                                            </div>
                                        </div>
                                        <!-- Single Product End -->

                                        <!-- Single Product Start -->
                                        <div class="single-pro-item d-flex">
                                            <a href="single-product.html" class="product-thumb">
                                                <img src="assets/img/product-3.jpg" alt="Product" />
                                            </a>
                                            <div class="pro-details">
                                                <h2>
                                                    <a href="single-product.html">Compete Hoodie</a>
                                                </h2>
                                                <span class="pro-price">$30.33</span>
                                            </div>
                                        </div>
                                        <!-- Single Product End -->

                                        <!-- Single Product Start -->
                                        <div class="single-pro-item d-flex">
                                            <a href="single-product.html" class="product-thumb">
                                                <img src="assets/img/product-4.jpg" alt="Product" />
                                            </a>
                                            <div class="pro-details">
                                                <h2>
                                                    <a href="single-product.html">MH02-Gray</a>
                                                </h2>
                                                <span class="pro-price">$20.11</span>
                                            </div>
                                        </div>
                                        <!-- Single Product End -->
                                    </div>
                                </div>

                                <div class="sidebar-carousel-item">
                                    <div class="product-small-list">
                                        <!-- Single Product Start -->
                                        <div class="single-pro-item d-flex">
                                            <a href="single-product.html" class="product-thumb">
                                                <img src="assets/img/product-1.jpg" alt="Product" />
                                            </a>
                                            <div class="pro-details">
                                                <h2>
                                                    <a href="single-product.html">Compete Hoodie</a>
                                                </h2>
                                                <span class="pro-price">$30.33</span>
                                            </div>
                                        </div>
                                        <!-- Single Product End -->

                                        <!-- Single Product Start -->
                                        <div class="single-pro-item d-flex">
                                            <a href="single-product.html" class="product-thumb">
                                                <img src="assets/img/product-2.jpg" alt="Product" />
                                            </a>
                                            <div class="pro-details">
                                                <h2>
                                                    <a href="single-product.html">MH02-Gray</a>
                                                </h2>
                                                <span class="pro-price">$20.11</span>
                                            </div>
                                        </div>
                                        <!-- Single Product End -->

                                        <!-- Single Product Start -->
                                        <div class="single-pro-item d-flex">
                                            <a href="single-product.html" class="product-thumb">
                                                <img src="assets/img/product-3.jpg" alt="Product" />
                                            </a>
                                            <div class="pro-details">
                                                <h2>
                                                    <a href="single-product.html">Compete Hoodie</a>
                                                </h2>
                                                <span class="pro-price">$30.33</span>
                                            </div>
                                        </div>
                                        <!-- Single Product End -->

                                        <!-- Single Product Start -->
                                        <div class="single-pro-item d-flex">
                                            <a href="single-product.html" class="product-thumb">
                                                <img src="assets/img/product-4.jpg" alt="Product" />
                                            </a>
                                            <div class="pro-details">
                                                <h2>
                                                    <a href="single-product.html">MH02-Gray</a>
                                                </h2>
                                                <span class="pro-price">$20.11</span>
                                            </div>
                                        </div>
                                        <!-- Single Product End -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Single Sidebar Item End -->
                </div>
            </div>
            <!-- Sidebar Area End -->

            <!-- Start Shop Page Content -->
            <div class="col-lg-9 order-first order-lg-last">
                <div class="shop-page-content-wrap">
                    <div class="products-settings-option d-block d-md-flex">
                        <div class="product-cong-left d-flex align-items-center">
                            <ul class="product-view d-flex align-items-center">
                                <li class="box-gird current"><i class="fa fa-th"></i></li>
                                <li class="list"><i class="fa fa-list-ul"></i></li>
                            </ul>
                            <span class="show-items">Items 1 - 9 of 17</span>
                        </div>

                        <div class="product-sort_by d-flex align-items-center mt-3 mt-md-0">
                            <label for="sort">Sort By:</label>
                            <select name="sort" id="sort">
                                <option value="Position">Relevance</option>
                                <option value="Name Ascen">Name, A to Z</option>
                                <option value="Name Decen">Name, Z to A</option>
                                <option value="Price Ascen">Price low to heigh</option>
                                <option value="Price Decen">Price heigh to low</option>
                            </select>
                        </div>
                    </div>

                    <div class="shop-page-products-wrap">
                        <div class="products-wrapper">
                            <div class="row">
                                <!-- Single Product Start -->
                                {% for good in goods %}
                                <div class="col-lg-4 col-sm-6">
                                    <div class="single-product-item">
                                        <figure class="product-thumb">
                                            <a href="{{ good.get_good_url }}"><img src="{{ good.goods_image.url }}"
                                                                               alt="Product"></a>
                                            <a href="#" class="btn btn-round btn-cart" title="Quick View"
                                               data-toggle="modal" data-target="#quickView"><i
                                                    class="fa fa-eye"></i></a>
                                        </figure>
                                        <div class="product-details">
                                            <h2 class="product-title"><a href="{{ good.get_good_url }}">{{ good.goods_name }}</a></h2>
                                            <div class="rating">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                            <span class="product-price">￥{{ good.actual_price }}</span>

                                            <p class="pro-desc">{{ good.goods_brief }}</p>

                                            <div class="product-meta">
                                                <a href="#" class="btn btn-round btn-cart" title="Add to Cart"><i
                                                        class="fa fa-shopping-cart"></i></a>
                                                <a href="wishlist.html" class="btn btn-round btn-cart"
                                                   title="Add to Wishlist"><i class="fa fa-heart"></i></a>
                                                <a href="compare.html" class="btn btn-round btn-cart"
                                                   title="Add to Compare"><i class="fa fa-exchange"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                                <!-- Single Product End -->
                            </div>
                        </div>
                    </div>

                    <div class="products-settings-option d-block d-md-flex">
                        <nav class="page-pagination">
                            <ul class="pagination">
                                <li><a href="#" aria-label="Previous">&laquo;</a></li>
                                <li><a class="current" href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#" aria-label="Next">&raquo;</a></li>
                            </ul>
                        </nav>

                        <div class="product-per-page d-flex align-items-center mt-3 mt-md-0">
                            <label for="show-per-page">Show Per Page</label>
                            <select name="sort" id="show-per-page">
                                <option value="9">12</option>
                                <option value="15">15</option>
                                <option value="21">18</option>
                                <option value="6">21</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Shop Page Content -->
        </div>
    </div>
</div>
<!--== Page Content Wrapper End ==-->

{% include 'newletter_footer.html' %}

<!-- Scroll to Top Start -->
<a href="#" class="scrolltotop"><i class="fa fa-angle-up"></i></a>
<!-- Scroll to Top End -->

<!--== Product Quick View Modal Area Wrap ==-->
<div class="modal" id="quickView" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"><img src="assets/img/icons/cancel.png" alt="Close" class="img-fluid" /></span>
            </button>
            <div class="modal-body">
                <div class="quick-view-content single-product-page-content">
                    <div class="row">
                        <!-- Product Thumbnail Start -->
                        <div class="col-lg-5 col-md-6">
                            <div class="product-thumbnail-wrap">
                                <div class="product-thumb-carousel owl-carousel">
                                    <div class="single-thumb-item">
                                        <a href="single-product.html"><img class="img-fluid" src="assets/img/single-pro-1.jpg" alt="Product" /></a>
                                    </div>

                                    <div class="single-thumb-item">
                                        <a href="single-product.html"><img class="img-fluid" src="assets/img/single-pro-2.jpg" alt="Product" /></a>
                                    </div>

                                    <div class="single-thumb-item">
                                        <a href="single-product.html"><img class="img-fluid" src="assets/img/single-pro-3.jpg" alt="Product" /></a>
                                    </div>

                                    <div class="single-thumb-item">
                                        <a href="single-product.html"><img class="img-fluid" src="assets/img/single-pro-4.jpg" alt="Product" /></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Product Thumbnail End -->

                        <!-- Product Details Start -->
                        <div class="col-lg-7 col-md-6 mt-5 mt-md-0">
                            <div class="product-details">
                                <h2><a href="single-product.html">Crown Summit Backpack</a></h2>

                                <div class="rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-half"></i>
                                    <i class="fa fa-star-o"></i>
                                </div>

                                <span class="price">$52.00</span>

                                <div class="product-info-stock-sku">
                                    <span class="product-stock-status text-success">In Stock</span>
                                    <span class="product-sku-status ml-5"><strong>SKU</strong> MH03</span>
                                </div>

                                <p class="products-desc">Ideal for cold-weathered training worked lorem ipsum outdoors, the Chaz Hoodie promises superior warmth with every wear. Thick material blocks out the wind as ribbed cuffs and bottom band seal in body heat Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, reprehenderit.</p>
                                <div class="shopping-option-item">
                                    <h4>Color</h4>
                                    <ul class="color-option-select d-flex">
                                        <li class="color-item black">
                                            <div class="color-hvr">
                                                <span class="color-fill"></span>
                                                <span class="color-name">Black</span>
                                            </div>
                                        </li>

                                        <li class="color-item green">
                                            <div class="color-hvr">
                                                <span class="color-fill"></span>
                                                <span class="color-name">green</span>
                                            </div>
                                        </li>

                                        <li class="color-item orange">
                                            <div class="color-hvr">
                                                <span class="color-fill"></span>
                                                <span class="color-name">Orange</span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>

                                <div class="product-quantity d-flex align-items-center">
                                    <div class="quantity-field">
                                        <label for="qty">Qty</label>
                                        <input type="number" id="qty" min="1" max="100" value="1" />
                                    </div>

                                    <a href="cart.html" class="btn">Add to Cart</a>
                                </div>
                            </div>
                        </div>
                        <!-- Product Details End -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--== Product Quick View Modal Area End ==-->
{% endblock %}


